{
  "extends": "airbnb",

  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/rule-name": "error"
  }

  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  }
}
